p, footer {
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 100px;
    font-size: 40px;
    
}

body {
    background-color: #000000;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2a2828;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:hover {
    background-color: grey;
}

.tbd {
    color: #574a4a;
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socials {
    text-align: center;
}

.socials a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
    text-decoration: none;
}
.socials a:hover {
    background-color: grey;
}